<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" conten="">
        <title>Network viz</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- customization -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="chart-area">

                </div>
            </div>
        </div>
        <!-- External libraries -->
        <script src="js/d3.min.js"></script>
        <!-- custom -->
        <script src="js/main.js"></script>
    </body>
</html>